@font-face {
  font-family: "San Francisco";
  src: url(https://rolle.design/fonts/SanFranciscoDisplayLight.eot);
  src: url(https://rolle.design/fonts/SanFranciscoDisplayLight.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/SanFranciscoDisplayLight.woff) format("woff"), url(https://rolle.design/fonts/SanFranciscoDisplayLight.woff2) format("woff2"), url(https://rolle.design/fonts/SanFranciscoDisplayLight.ttf) format("truetype"), url('https://rolle.design/fonts/SanFranciscoDisplayLight.svg#San Francisco') format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "San Francisco";
  src: url(https://rolle.design/fonts/SanFranciscoDisplayRegular.eot);
  src: url(https://rolle.design/fonts/SanFranciscoDisplayRegular.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/SanFranciscoDisplayRegular.woff) format("woff"), url(https://rolle.design/fonts/SanFranciscoDisplayRegular.woff2) format("woff2"), url(https://rolle.design/fonts/SanFranciscoDisplayRegular.ttf) format("truetype"), url('https://rolle.design/fonts/SanFranciscoDisplayRegular.svg#San Francisco') format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "San Francisco";
  src: url(https://rolle.design/fonts/SanFranciscoDisplayMedium.eot);
  src: url(https://rolle.design/fonts/SanFranciscoDisplayMedium.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/SanFranciscoDisplayMedium.woff) format("woff"), url(https://rolle.design/fonts/SanFranciscoDisplayMedium.woff2) format("woff2"), url(https://rolle.design/fonts/SanFranciscoDisplayMedium.ttf) format("truetype"), url('https://rolle.design/fonts/SanFranciscoDisplayMedium.svg#San Francisco') format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "San Francisco";
  src: url(https://rolle.design/fonts/SanFranciscoDisplaySemibold.eot);
  src: url(https://rolle.design/fonts/SanFranciscoDisplaySemibold.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/SanFranciscoDisplaySemibold.woff) format("woff"), url(https://rolle.design/fonts/SanFranciscoDisplaySemibold.woff2) format("woff2"), url(https://rolle.design/fonts/SanFranciscoDisplaySemibold.ttf) format("truetype"), url('https://rolle.design/fonts/SanFranciscoDisplaySemibold.svg#San Francisco') format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "San Francisco";
  src: url(https://rolle.design/fonts/SanFranciscoDisplayBold.eot);
  src: url(https://rolle.design/fonts/SanFranciscoDisplayBold.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/SanFranciscoDisplayBold.woff) format("woff"), url(https://rolle.design/fonts/SanFranciscoDisplayBold.woff2) format("woff2"), url(https://rolle.design/fonts/SanFranciscoDisplayBold.ttf) format("truetype"), url('https://rolle.design/fonts/SanFranciscoDisplayBold.svg#San Francisco') format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Avenir;
  src: url(https://rolle.design/fonts/Avenir-Light.eot);
  src: url(https://rolle.design/fonts/Avenir-Light.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/Avenir-Light.woff) format("woff"), url(https://rolle.design/fonts/Avenir-Light.woff2) format("woff2"), url(https://rolle.design/fonts/Avenir-Light.ttf) format("truetype"), url(https://rolle.design/fonts/Avenir-Light.svg#Avenir) format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(https://rolle.design/fonts/Avenir-Regular.eot);
  src: url(https://rolle.design/fonts/Avenir-Regular.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/Avenir-Regular.woff) format("woff"), url(https://rolle.design/fonts/Avenir-Regular.woff2) format("woff2"), url(https://rolle.design/fonts/Avenir-Regular.ttf) format("truetype"), url(https://rolle.design/fonts/Avenir-Regular.svg#Avenir) format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(https://rolle.design/fonts/Avenir-Roman.eot);
  src: url(https://rolle.design/fonts/Avenir-Roman.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/Avenir-Roman.woff) format("woff"), url(https://rolle.design/fonts/Avenir-Roman.woff2) format("woff2"), url(https://rolle.design/fonts/Avenir-Roman.ttf) format("truetype"), url(https://rolle.design/fonts/Avenir-Roman.svg#Avenir) format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url(https://rolle.design/fonts/Avenir-Bold.eot);
  src: url(https://rolle.design/fonts/Avenir-Bold.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/Avenir-Bold.woff) format("woff"), url(https://rolle.design/fonts/Avenir-Bold.woff2) format("woff2"), url(https://rolle.design/fonts/Avenir-Bold.ttf) format("truetype"), url(https://rolle.design/fonts/Avenir-Bold.svg#Avenir) format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Avenir;
  src: url(https://rolle.design/fonts/Avenir-Heavy.eot);
  src: url(https://rolle.design/fonts/Avenir-Heavy.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/Avenir-Heavy.woff) format("woff"), url(https://rolle.design/fonts/Avenir-Heavy.woff2) format("woff2"), url(https://rolle.design/fonts/Avenir-Heavy.ttf) format("truetype"), url(https://rolle.design/fonts/Avenir-Heavy.svg#Avenir) format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Avenir;
  src: url(https://rolle.design/fonts/Avenir-Black.eot);
  src: url(https://rolle.design/fonts/Avenir-Black.eot?#iefix) format("embedded-opentype"), url(https://rolle.design/fonts/Avenir-Black.woff) format("woff"), url(https://rolle.design/fonts/Avenir-Black.woff2) format("woff2"), url(https://rolle.design/fonts/Avenir-Black.ttf) format("truetype"), url(https://rolle.design/fonts/Avenir-Black.svg#Avenir) format("svg");
  font-style: normal;
  font-weight: 900;
}

.native-frame .darwin-title-bar {
	background-color: #ffffff !important;
}

.native-frame .darwin-title-bar .title {
  color: #444444;
  font-size: 12px;
  font-family: 'Avenir', 'Helvetica Neue' !important;
}
