// Imports
@import 'mixins';
@import 'webfonts';

// Variables
$font: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
$color-light: #fff;
$color-dark: #292a29;
$color-weak: #9c9e9d;
$color-accent: #ff2c56; // Original: #ff5722

// Change color theme
#player:not([style-scope]):not(.style-scope) paper-icon-button[data-id="play-pause"]:not([style-scope]):not(.style-scope):not([disabled]),
#player:not([style-scope]):not(.style-scope) paper-icon-button[data-id="repeat"].active:not([style-scope]):not(.style-scope), #player:not([style-scope]):not(.style-scope) paper-icon-button[data-id="shuffle"].active:not([style-scope]):not(.style-scope), #player:not([style-scope]):not(.style-scope) #exp-menu-shuffle.active:not([style-scope]):not(.style-scope), #player:not([style-scope]):not(.style-scope) #exp-menu-repeat.active:not([style-scope]):not(.style-scope), #player:not([style-scope]):not(.style-scope) #exp-menu-queue.opened:not([style-scope]):not(.style-scope), #player:not([style-scope]):not(.style-scope) paper-icon-button[data-id="queue"].opened:not([style-scope]):not(.style-scope), #player:not([style-scope]):not(.style-scope) paper-icon-button:not([style-scope]):not(.style-scope) #exp-menu-queue.opened:not([style-scope]):not(.style-scope),
.gpm-quick-nav-2 .items.gpm-quick-nav > [selected],
.nav-item-container.selected:not([style-scope]):not(.style-scope),
.nav-item-container.selected:not([style-scope]):not(.style-scope) iron-icon:not([style-scope]):not(.style-scope),
.primary:not([style-scope]):not(.style-scope) {
  color: $color-accent !important;
}

.paper-slider-0 .slider-knob-inner.paper-slider,
.paper-fab-0,
.paper-progress-2 #primaryProgress.paper-progress,
.paper-button-2,
.sj-play-button-0,
paper-button.upsell-button:not([style-scope]):not(.style-scope),
.upsell-element:not([style-scope]):not(.style-scope),
.paper-slider-1 .slider-knob-inner.paper-slider,
.paper-progress-3 #primaryProgress.paper-progress {
  background-color: $color-accent !important;
  border-color: $color-accent !important;
  box-shadow: none !important;
}

// Hide Subscribe-button
paper-button.upsell-button:not([style-scope]):not(.style-scope),
.upsell-element:not([style-scope]):not(.style-scope) {
  display: none !important;
}

// Library selection bar color
.paper-tabs-1 #selectionBar.paper-tabs {
  border-color: $color-accent !important;

  // Hide selection bar for even more minimal look
  opacity: 0 !important;
}

// Not selected library items in dimmer color
.paper-tab-0:not(.iron-selected) > .tab-content.paper-tab {
  opacity: .4 !important;
}

// Hide Google Play Music Logo
#material-one-left > .music-logo-link,
#material-one-left > .music-logo-image {
  display: none;
}

// A bit wider on windowed
@media (max-width: 1399px) and (min-width: 1250px) {
  paper-header-panel #music-content .recent-view {
      width: 1000px;
  }
}

// Background
body,
body.qp {
  font-family: $font;
  background: $color-light;

  // Fonts
  * {
    font-family: $font;
  }
}

// Disable search bar borders and shadows
.qp #material-one-middle .material-search {
  border: 0 !important;
  box-shadow: none !important;
}

// Disable panel shadows
.paper-drawer-panel-1 .narrow-layout.paper-drawer-panel > #drawer.iron-selected.paper-drawer-panel,
#drawer {
  box-shadow: none !important;
}

// Disable top shadow
.paper-header-panel-0 #dropShadow.paper-header-panel,
body #dropShadow.paper-header-panel {
  display: none;
}

// Disable top border
paper-header-panel#content-container:not([style-scope]):not(.style-scope):not(.transparent)[at-top] paper-toolbar#material-app-bar:not([style-scope]):not(.style-scope),
body #content-container {
  border: 0 !important;
}

// Grid title
.gpm-card-grid-0 > [slot="title"],
h2[slot="title"] {
  color: $color-dark;
  font-size: 42px !important;
  font-weight: 900 !important;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

// Wider album grid gaps
.gpm-card-grid-0 gpm-colored-now-card.gpm-card-grid,
.gpm-card-grid-0:not(.mini) div.gpm-card-grid > sj-card {
  width: calc((100% - (62px * (5 - 1))) / 5);
  margin: 32px 62px 0 0;
}

// Wider container
@media (max-width: 1849px) and (min-width: 1400px) {
  body #music-content .recent-view {
    width: 1200px;
  }
}

// Fix wide resolutions
@media (min-width: 1850px) {
  .gpm-card-grid-0.small div.gpm-card-grid > sj-card:nth-child(-n + 6),
  .gpm-card-grid-0 gpm-colored-now-card.gpm-card-grid, .gpm-card-grid-0:not(.mini) div.gpm-card-grid>sj-card {
    margin: 32px 49px 0 0 !important;
  }
}

// Remove border radius from search results
.entity-card.material-card .image-wrapper,
.entity-card.material-card .image,
.entity-card.material-card .letter-art {
  border-radius: 0 !important;
}

// Bigger images in search results
.entity-card.material-card .image-wrapper {
  padding-top: 100% !important;;
  width: 100% !important;
  margin: 0 !important;
}

// Remove weird artifact in search results
.entity-card.material-card .title.fade-out:after {
  display: none !important;
}

// Remove underlines in hover, replace with accent color
.material-card .title:focus,
.material-card .title:hover,
.material-card .sub-title[data-type]:focus,
.material-card .sub-title[data-type]:hover,
.sj-card-0 div.sj-card > a[href]:hover,
.sj-card-0 div.sj-card > a:focus,
.sj-card-0 div.sj-card > a[href]:hover,
.sj-card-0 div.sj-card > a:focus,
.detail-view .view-header a[href]:hover,
.detail-view .view-header a:focus,
.song-row [data-col="artist"] .text:hover,
.song-row [data-col="album"] .text:hover,
.song-row [data-col="series"] .text:hover,
.song-row [data-col="song-details"] .song-artist:hover,
.song-row [data-col="song-details"] .song-album:hover,
.song-row [data-col="song-details"] .episode-series:hover,
.song-row [data-col="artist"] .text:hover,
.song-row [data-col="album"] .text:hover,
.song-row [data-col="series"] .text:hover,
.song-row [data-col="song-details"] .song-artist:hover,
.song-row [data-col="song-details"] .song-album:hover,
.song-row [data-col="song-details"] .episode-series:hover {
  text-decoration: none !important;
  color: $color-accent !important;
}

// Make bigger titles not overflow
.cluster .header .cluster-title,
.cluster .header .subtitle {
  overflow: visible !important;
}

.cluster .header {
  height: auto !important;
}

// Bigger sub-titles and search result titles
.cluster .header .cluster-title {
  font-size: 32px !important;
  font-weight: 900 !important;
  margin-bottom: 20px !important;
  margin-top: 30px !important;
}

.entity-card.material-card .image,
.entity-card.material-card .letter-art {
  width: 100% !important;
  height: auto !important;
}

// Stronger album titles in album view
body .material-card .title {
  font-weight: 600;
  color: $color-dark;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0;
}

// Albums grid
.gpm-card-grid {

  // Remove shadows from albums
  .sj-card-0 .sj-card,
  .sj-card {
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  // Remove border-radius
  .sj-card-0 .sj-card > [slot="image"],
  img,
  [slot="image"] {
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  // Stronger album titles
  .sj-card-0 #details.sj-card > [slot="title"],
  [slot="title"] {
    font-weight: 600;
    color: $color-dark;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
  }

  // Weaker artist names
  .sj-card-0 #details.sj-card > [slot="subtitle"],
  [slot="subtitle"] {
    font-size: 13px;
    line-height: 21px;
    color: $color-weak;
    font-weight: 400;
    letter-spacing: 0;
  }
}

// Equal currently playing song row background
.song-row.selected-song-row td,
.song-row.currently-playing td {
  background: $color-light !important;
}

// Disable song row hovers
.song-row:hover,
.song-row:hover td {
  background: $color-light !important;

  [data-col=title],
  [data-col=title] *,
  .column-content {
    color: $color-accent !important;
  }
}

// Dimmer track numbers
.song-row td[data-col="track"] .column-content,
.song-table [data-col="index"],
body .song-table [data-col="track"],
.song-table [data-col="index"],
.song-table [data-col="track"] * {
  color: rgba(#b6bdc5, .8) !important;
}

// Force darker song names in listings
.song-table [data-col="title"],
.song-table [data-col="title"] *,
.song-table.tight .song-row .column-content {
  color: #343434;
}

// Force light play button container in song-row
body .song-table.tight .song-row .column-content .hover-button {
  color: $color-light !important;

  * {
    color: $color-light !important;
  }
}

// Fix song indicator position
.song-table.tight .song-row [data-col="track"] .song-indicator {
  left: -15px !important;
}

// Hide duration icon for good
[icon="device:access-time"] {
  display: none !important;
}

// More space between rows
.song-table.tight .song-row td,
.song-table.tight .song-row {
  height: 50px !important;
}

// Minimal song info, only visible on hover
.detail-view .song-table [data-col="play-count"],
.detail-view .song-table [data-col="rating"]:last-child,
.detail-view .song-table [data-col="rating"] {
  white-space: nowrap !important;
  height: 50px !important;
  width: 0 !important;
  opacity: 0 !important;
  transition: none !important;
  color: rgba(#b6bdc5, .8) !important;

  * {
    color: rgba(#b6bdc5, .8) !important;
  }
}

// Rating tweaks
.detail-view .song-table.tight .song-row [data-col="rating"][data-rating="5"],
.detail-view .song-table.tight .song-row [data-col="rating"][data-rating="4"],
.detail-view .song-table.tight .song-row [data-col="rating"][data-rating="3"]
.detail-view .song-table.tight .song-row [data-col="rating"][data-rating="2"],
.detail-view .song-table.tight .song-row [data-col="rating"][data-rating="1"] {
  transition: none !important;
  left: 17px !important;
  position: relative !important;
  opacity: .4 !important;
  white-space: nowrap !important;
  height: 50px !important;
}

// Duration color
.detail-view [data-col="duration"],
.detail-view [data-col="duration"] span,
.detail-view .song-table th {
  text-transform: none !important;
  color: rgba(#b6bdc5, .8) !important;
  font-weight: 300 !important;

  * {
    color: rgba(#b6bdc5, .8) !important;
    font-weight: 300 !important;
    text-transform: none !important;
  }
}

// Fade and slide in to view
.detail-view .song-table:hover [data-col="play-count"] {
  white-space: nowrap !important;
  height: 50px !important;
  width: 50px !important;
  opacity: 1 !important;
}

.detail-view .song-table:hover [data-col="rating"] {
  white-space: nowrap !important;
  height: 50px !important;
  width: 90px !important;
  opacity: 1 !important;
}

// Attractive album title
.gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="title"] {
  font-size: 55px !important;
  font-weight: 900 !important;
  color: $color-dark !important;
  margin-top: 0 !important;
  padding-top: 15px !important;
  margin-bottom: 10px !important;
}

// Attractive artist title
.gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="subtitle"] {
  font-size: 19px !important;
  font-weight: 300 !important;
}

// Fix artist title overflow
.gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="title"] {
  overflow: visible !important;
}

// Force small details
.gpm-detail-page-header-0 .detail-wrapper.gpm-detail-page-header > div.gpm-detail-page-header,
.gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="description"],
.gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="metadata"] {
  font-size: 13px !important;
}

// Disale shadows and border radius in album images
.gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="image"] {
  box-shadow: none !important;
  border-radius: 0 !important;
}

// Ensure play button is always round
body .sj-play-button-1,
body .sj-play-button,
body .sj-card-0 .sj-card.sj-play-button,
body .sj-card-0 .sj-card.sj-play-button-1,
body #playButton {
  border-radius: 50% !important;
}

// Bigger album art in single album view
.gpm-detail-page-header-0 #imageWrapper.gpm-detail-page-header {
  width: 250px !important;
  height: 250px !important;
}

// Bigger arist image
.artist-view .gpm-detail-page-header-0 #imageWrapper.gpm-detail-page-header {
  width: 280px !important;
  height: 280px !important;

  img {
    image-rendering: crisp-edges;
  }
}

// Bigger artist title
.artist-view .gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="title"] {
  font-size: 70px !important;
}

// Fix play button position
.gpm-detail-page-header-0 #playButton.gpm-detail-page-header {
  top: 5px;
}

// Disable shadows in material cards
.material-card,
.material-shadow-z1,
.draggable,
.material-card:hover,
.material-shadow-z1:hover,
.draggable:hover,
.entity-card.material-card.focused {
  box-shadow: none !important;
}

// Remove some margins
.cluster .header .more,
.cluster .header-inner {
  margin: 0 !important;
}

// Disable shadows in song list container
body .songlist-container {
  box-shadow: none !important;
}

// No uppercase text in library
#innerjam-tabs-container paper-tabs,
paper-tabs.tab-container {
  text-transform: none !important;
}

// Player
#player {
  box-shadow: none;
}

// Always thinner progress bar
.paper-progress-2 #progressContainer.paper-progress,
.paper-progress-2 .indeterminate.paper-progress::after {
  height: 2px !important;
}

// Show progress bar always, a bit dimmer than normally
#player:hover #material-player-progress:not([disabled]) #progressContainer,
#player #material-player-progress:not([disabled]) #progressContainer {
  background-color: #efefef !important;
}

// Don't show stuff by default, only on hover
body .items.gpm-quick-nav,
body .more.gpm-quick-nav,
#material-one-right,
#material-one-middle,
#material-one-left,
#material-player-right-wrapper,
[slot="ifl-fab"],
#player #playerSongInfo .now-playing-info-wrapper .now-playing-actions,
[data-id=show-miniplayer-dp] {
  opacity: 0 !important;
  transition: all .22s !important;

  &:hover {
    opacity: 1 !important;
  }
}

#quick-nav-container:hover .items.gpm-quick-nav,
#quick-nav-container:hover .more.gpm-quick-nav,
#player:hover #playerSongInfo .now-playing-info-wrapper .now-playing-actions,
#player.active:hover #material-player-right-wrapper
#player:hover [data-id=show-miniplayer-dp] {
  opacity: 1 !important;
}
